*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Staatliches', cursive;
}

.main-div{
    width: 60%;
    margin: auto;
}

@media screen and (max-width:800px)
{
    .main-div{
        width: 80%;
    }
}

@media screen and (max-width:600px)
{
    .main-div{
        width: 100%;
    }
}


.left{
    border-right: 1px solid black;
}

@media screen and (max-width:600px)
{
    .left{
        border-right: none;
        width: 100%;
    }
    .right{
        width: 100%;
    }
}

.income-div{
    border-right: 1px solid black;
}

.mybtn{
    padding: 5px;
    width: 100%;
    margin-top: 10px;
    background-color: #2C5364;
    color: white;
}